<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pantalla Dividida</title>
  
  <link rel="stylesheet" href="static/style2.css">
  <link rel="stylesheet" href="static/style.css">
  
</head>
<body>
  <div class="container">
    <div class="col-4">
      <h2>Reporte de ingresos</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Perfil</th>
            <th scope="col">Nombres</th>
            <th scope="col">Contacto</th>
            <th scope="col">Correo</th>
            <th scope="col">Dirección</th>
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody>
            
        <tr>
            <td><img src="{{ url_for('static', filename='imagenes_reporte_ingresos/docente.jpg') }} " width="150" height="150" class="rounded-image"></td>
            <td><img src="{{ url_for('static', filename='imagenes_reporte_ingresos/administrativo.jpg') }} " width="150" height="150" class="rounded-image"></td>
            <td><img src="{{ url_for('static', filename='imagenes_reporte_ingresos/estudiante.jpg') }} " width="150" height="150" class="rounded-image"></td>
            <td><img src="{{ url_for('static', filename='imagenes_reporte_ingresos/visitantes.jpg') }} " width="150" height="150" class="rounded-image"></td>
        </tr>
           
        </tbody>
      </table>
    </div>
    <div class="col-8">
        
      <h2>Columna 8</h2>
      <video width="1200" height="1000" controls autoplay loop>
        <source src="{{ url_for('static', filename='videos/video.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </div>
  </div>
  <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</body>
</html>