* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .col-4 {
    width: 33.33%;
    background-color: #ffffff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .col-8 {
    width: 66.67%;
    background-color: #ffffff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }